[package]
name = "lowpass-filter"
description = """
This is a `no_std` Rust library for simple digital low pass filters. You can use it for example to
get the low frequencies from a song.
"""
version = "0.2.2"
authors = ["Philipp Schuster <phip1611@gmail.com>"]
edition = "2018"
keywords = ["audio", "filter", "digital", "lowpass", "dsp"]
categories = ["multimedia", "no-std"]
readme = "README.md"
license = "MIT"

homepage = "https://github.com/phip1611/lowpass-filter"
repository = "https://github.com/phip1611/lowpass-filter"
documentation = "https://docs.rs/lowpass-filter/"

[dev-dependencies]
audio-visualizer = "0.1.4" # to visualize the output
minimp3 = "0.5.1" # to test this filter
wav = "0.6.0" # store was wav

# debug bins will be faster
[profile.dev]
opt-level = 1